.border {
    border: 2px solid red;
    margin: 3px;
}

.justify-center {
    justify-content: center;
}

.items-center {
    align-items: center;
}

.flex {
    display: flex;
}

.bg-black {
    background-color: black;
    color: white;
}

.bg-grey {
    background-color: #121212;
}

.rounded {
    border-radius: 8px;
}

.m-1 {
    margin: 5px;
}

.p-1 {
    padding: 10px;
}

.invert {
    filter: invert(1);
}

.p-2 {
    padding-top: 40px;
}
/* For Chrome, Edge, and Safari */
::-webkit-scrollbar {
    width: 10px; /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
    background: #1a1a1a /* Dark background for the scrollbar track */
}

::-webkit-scrollbar-thumb {
    background-color: #555; /* Darker thumb color */
    border-radius: 10px; /* Rounded scrollbar */
    border: 2px solid #1a1a1a; /* Space around the thumb */
}

::-webkit-scrollbar-thumb:hover {
    background-color: #888; /* Slightly lighter thumb on hover */
}

/* Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: #555#1a1a1a; /* thumb color and track color */
}
